API_KEY=secret-static-api-key
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres  # defaults to docker
POSTGRES_PORT=5432
POSTGRES_DB=payproc

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq  # defaults to docker
RABBITMQ_PORT=5672

PAYMENT_MIN_PROCESSING_TIME=2.0
PAYMENT_MAX_PROCESSING_TIME=5.0
PAYMENT_SUCCESS_RATE=0.9

OUTBOX_POLL_INTERVAL_SEC=1
OUTBOX_BATCH_SIZE=50
WEBHOOK_TIMEOUT_SEC=10
WEBHOOK_MAX_RETRIES=3
WEBHOOK_BACKOFF_FACTOR=2
CONSUMER_MAX_RETRIES=3
CONSUMER_BACKOFF_FACTOR=2
